@import "tailwindcss";

@font-face {
  font-family: 'hagsatra';
  src: url('./assets//HagsatraCollective-Regular.otf') format('otf');
  font-weight: 400; /* normal vikt */
  font-style: normal;
  font-display: swap; /* snabbare render */
}

@theme {
  --font-main: "Wittgenstein", serif;
  --font-sans: "Kedebideri", sans-serif;
  --font-hagsatra: "hagsatra", sans-serif;

  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1280px;

  --color-lightRed: rgb(255, 92, 55);
  --color-darkRed: rgba(93,33,33);

  --animate-fadeIn: fadeIn 1s ease-in both;
  --animate-longFadeIn: fadeIn 2.3s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  background-color: var(--color-lightRed);
}
